@import "tailwindcss";

/* imported font  */

@font-face {
  font-family: "Neue";
  src: url("/font/NeueMontreal-Light.otf");
  font-weight: 300; /* Light */
}

@font-face {
  font-family: "Neue";
  src: url("/font/NeueMontreal-Regular.otf");
  font-weight: 400; /* Regular */
}

@font-face {
  font-family: "Neue";
  src: url("/font/NeueMontreal-Medium.otf");
  font-weight: 500; /* Medium */
}

@font-face {
  font-family: "Neue";
  src: url("/font/NeueMontreal-Bold.otf");
  font-weight: 700; /* Bold */
}

:root {
  --background: #f1f1f1;
  --primary-background: #ffffff;
  --primary-background-transparent: rgba(255, 255, 255, 0);
  --foreground: #0a0a0a;
  --teitary-background: #f7f7f7;
  --icon-background: #303030;
  --secondary-background: #ebebeb;
  --border: #e3e3e3;
  --focused-border: #cacaca;
  --text-color: #000000;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Set dark mode variables when data-theme="dark" is present on :root (html) */
:root[data-theme="dark"] {
  --background: #151515;
  --primary-background: #151515;
  --primary-background-transparent: rgba(21, 21, 21, 0);
  --icon-background: #cfcfcf;
  --secondary-background: #232323;
  --teitary-background: #202020;
  --border: #282828;
  --focused-border: #1e1e1e;
  --text-color: #ffffff;
}
@theme inline {
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-tertiay-background: var(--teitary-background);
  --color-primary-background: var(--primary-background);
  --color-icon: var(--icon-background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-neue: var(--font-neue);
  --color-focused-border: var(--focused-border);
}

body {
  background: var(--background);
  /* color: var(--foreground); */
  font-family: var(--font-neue);
  transition: background 0.5s, color 0.5s;
}
body::selection {
  background-color: var(--icon-background);
  color: var(--background);
}

.shared-style {
  @apply w-full h-full bg-[#303030];
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.parent {
  position: relative;
  transform-style: preserve-3d;
  perspective: 10000px;
  /* margin-top: 300px; */
  /*   rotate: y 0deg */
  animation: rotates 12s infinite linear;
  animation-fill-mode: forwards;
}

.blue {
  animation: rotateX 8s infinite linear;
  animation-fill-mode: forwards;
  transform: translateZ(39px);
  border: 2px solid #ebebeb;
}
.red {
  animation: rotateY 8s infinite linear;
  animation-fill-mode: forwards;
  transform: rotateY(180deg) translateZ(39px);
  border: 2px solid #ebebeb;
}

.right {
  transform: rotateY(90deg) translateZ(39px);
  border: 2px solid #ebebeb;
}
.left {
  transform: rotateY(-90deg) translateZ(39px);
  border: 2px solid #ebebeb;
}
.bottom {
  transform: rotateX(-90deg) translateZ(39px);
  border: 2px solid #ebebeb;
}
.top {
  transform: rotateX(90deg) translateZ(39px);
  border: 2px solid #ebebeb;
}

@keyframes rotates {
  from {
    transform: rotateY(0deg) rotateX(0deg);
  }
  to {
    transform: rotateY(360deg) rotateX(360deg);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px var(--primary-background) inset !important;
  -webkit-text-fill-color: var(
    --icon-background
  ) !important; /* Example text color */
  border: 1px solid var(--focused-border) !important; /* Example border color */
}

/* toggle ui  */
/* From Uiverse.io by namecho */
.switch {
  --button-width: 2.6em;
  --button-height: 1.5em;
  --toggle-diameter: 1em;
  --button-toggle-offset: calc(
    (var(--button-height) - var(--toggle-diameter)) / 2 - 0.6px
  );
  --toggle-shadow-offset: 10px;
  --toggle-wider: 3em;
  --color-grey: var(--secondary-background);
  height: var(--button-height);
  --color-green: #00bfae;
  /* --color-green: #4296f4; */
  overflow: hidden;
}

.slider {
  display: inline-block;
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--color-grey);
  border: 1px solid var(--border);
  border-radius: calc(var(--button-height) / 2);
  position: relative;
  transition: 0.3s all ease-in-out;
}

.slider::after {
  content: "";
  display: inline-block;
  width: var(--toggle-diameter);
  height: var(--toggle-diameter);
  background-color: #fff;
  border-radius: calc(var(--toggle-diameter) / 2);
  position: absolute;
  top: var(--button-toggle-offset);
  transform: translateX(var(--button-toggle-offset));
  box-shadow: var(--toggle-shadow-offset) 0
    calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
}

.switch input[type="checkbox"]:checked + .slider {
  background-color: var(--color-green);
}

.switch input[type="checkbox"]:checked + .slider::after {
  transform: translateX(
    calc(
      var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)
    )
  );
  box-shadow: calc(var(--toggle-shadow-offset) * -1) 0
    calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.switch input[type="checkbox"] {
  display: none;
}

.switch input[type="checkbox"]:active + .slider::after {
  width: var(--toggle-wider);
}

.switch input[type="checkbox"]:checked:active + .slider::after {
  transform: translateX(
    calc(
      var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)
    )
  );
}
